<h2>Create a new Apartment</h2>
<form action="/apartments" method="post">
  <label>Address<input type="text" name="apartment[address]"></label>
  <label>Monthly Rent<input type="text" name="apartment[monthly_rent]"></label>
  <label>Square Feet<input type="text" name="apartment[sqft]"></label>
  <label>Num_Beds<input type="text" name="apartment[num_beds]"></label>
  <label>Num_baths<input type="text" name="apartment[num_baths]"></label>
  <input type="submit" value="Submit New Apartment">
</form>
